HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# MySQL (Docker)
db/data/
**/mysql.sock
**/*.pid
**/auto.cnf
**/binlog.index
**/ib_*

# Builds / Maven
/target/
/.mvn/wrapper/maven-wrapper.jar

# IDE
/.idea/
/*.iml

# SO
.DS_Store
Thumbs.db

# Logs
*.log

# Node (se tiver)
/node_modules/
